* {
	font-family: sans-serif;
}

body {
	--text-color: #eee;
	--bkg-color: #121212;
	--anchor-color: #809fff;
  }

body {
	padding: 25px;
	font-size: x-large;
	color: var(--text-color);
	background: var(--bkg-color);
  }

a {
	color: var(--anchor-color);
  }

.center {
	margin: auto;
	width: 90%;
	padding: 10px;
	text-align: center;
}

ul {
	display: table;
	margin: 0 auto;
	text-align: left;
	font-size: medium;
}

summary {
	font-size: large;
}

footer {
	font-size: small;
}

.button {
	background-color: #4CAF50; /* Green */
	color: var(--text-color);
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: medium;
	margin: 20px 10px 20px 10px; /* up, right, bottom, left */
	transition-duration: 0.4s;
	cursor: pointer;
	border: 3px solid red;
}
  
.button-blue {
	background-color: var(--text-color); 
	color: black; 
	border-color: #008CBA;
}

.button-blue:hover {
	background-color: #008CBA;
	color: var(--text-color);
}

.button-black {
	background-color: var(--text-color);
	color: black;
	border-color: #555555;
}

.button-black:hover {
	background-color: #555555;
	color: var(--text-color);
}

.button-red {
	background-color: var(--text-color); 
	color: black; 
	border-color: #f44336;
	margin: 0px 10px 20px 10px; /* up, right, bottom, left */
}

.button-red:hover {
	background-color: #f44336;
	color: var(--text-color);
}

.hideme {
	display: none;
}

.showme {
	display: inline;
}

.box {
    margin:0 0 25px;
    overflow:hidden;
    padding:20px;
    background-color: #555555;
    border:1px solid var(--bkg-color);
    -webkit-border-radius: 5px;
    border-radius: 5px;
	font-size: small;
}

i.material-icons {
	vertical-align: text-bottom;
  }